@import "../../styles/base.scss";

.dateArrow {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right: 10px solid $app-datebutton-arrow-color;
}

.right {
  transform: rotate(-180deg);
  margin-left: 5px;
}

.left {
  margin-right: 5px;
}
