@import "../../styles/base.scss";

.dateButtonContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vw / 4);
  padding-bottom: $spacer / 2;
}

.dateTitle {
  font-size: 9pt;
  font-weight: 500;
}

.isWeekendTitle {
  color: $app-datebutton-weekend-color;
}

.isTodayTitle {
  color: $app-datebutton-today-color;
}

.dateButtonWrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.dateButton {
  @extend .btn;
  border-radius: 50%;
  height: calc((100vw - 20px) / 9);
  width: calc((100vw - 20px) / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $app-datebutton-boxshadow;
  background-color: $app-datebutton-background-color;
  transition: transform 100ms linear;
}

.isActive {
  transform: translateY(-35%);
}

.isWeekend {
  color: $app-datebutton-text-weekend;
  background-color: $app-datebutton-weekend-color;

  &:focus {
    color: $app-datebutton-text-weekend;
  }
}

.isToday {
  background: $app-datebutton-today-color;
}
