$header-height: 50px;
$header-logo-height: $header-height - 10px;

$landing-page-max-width: 1200px;

$enable-shadows: true;

$black: #1f201a;
$primary: #22cd5e;
$secondary: #2291cd;

$font-family-sans-serif: 'Recursive', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
