{% extends "rest_framework/base.html" %}

{% block title %}{% if name %}{{ name }} – {% endif %}Münster Jetzt API{% endblock %}

{% block meta %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="icon" href="{% static "favicon.ico" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
<style>
  .info-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    padding-top: 0.5em;
    margin-top: 2em;
  }

  .info-footer a {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
</style>
{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/">
  Münster Jetzt API
</a>
{% endblock %}

{% block content %}
{{ block.super }}
<div>
  <div>
    <h3>Weitere Informationen</h3>
    <p>Eine maschinenlesbare Spezifikation dieser Schnittstelle im OpenAPI v3 Format ist unter <a href="{% url
        "openapi.json" %}" target="_blank" rel="noopener">{% url "openapi.json" %}</a> abrufbar. (Ansicht in <a
        href="{% url "swagger-ui" %}">Swagger UI</a>, <a href="{% url "redoc" %}">ReDoc</a>) Damit lassen sich
      schnell und einfach eigene Clients in vielen Programmiersprachen generieren.</p>
    <p>Für Hinweise, Verbesserungsvorschläge oder Fehlerbeschreibungen rund um API
      und App sollten am Besten als „Issue“ im <a href="https://github.com/codeformuenster/muenster-jetzt"
        target="_blank" rel="noopener noreferrer">codeformuenster/muenster-jetzt</a> Repository auf GitHub angelegt
      werden.<br>Alternativ sind wir auch auf <a href="https://twitter.com/codeformuenster" target="_blank"
        rel="noopener noreferrer">Twitter</a> oder <a href="mailto:muenster-jetzt@codeformuenster.org?subject=API">per
        Mail</a> zu erreichen.</p>
    <p>Sowohl API als auch die App lassen sich auch auf eigenen Servern hosten.
      Hinweise dazu finden sich ebenfalls im Repository <a href="https://github.com/codeformuenster/muenster-jetzt"
        target="_blank" rel="noopener noreferrer">codeformuenster/muenster-jetzt</a> auf GitHub.</p>
  </div>

  <div class="info-footer">
    <a class="c4m-link" href="https://codeformuenster.org">
      Ein Projekt von <img src="https://codeformuenster.org/img/cfm_logo.png" alt="Code for Münster">
    </a>
    |
    <a href="https://codeformuenster.org/impressum/" target="_blank" rel="noopener">Impressum &amp; Datenschutz</a>
  </div>
</div>
{% endblock %}

{% block userlinks %}
<li><a href="https://github.com/codeformuenster/muenster-jetzt">Code</a></li>
<li><a href="{% url "swagger-ui" %}">Swagger UI</a></li>
<li><a href="{% url "redoc" %}">ReDoc</a></li>
<li><a href="https://muenster-jetzt.de/info">Info</a></li>
{% endblock %}
