/* .slide {
  min-width: var(--kiosk-width);
  min-height: var(--kiosk-height);
  display: grid;
  grid-template-columns: 1.61fr 1fr;
  grid-template-rows: 150px 1fr 150px;
  grid-template-areas: "title title" "image info"  "footer qr";
  will-change: transform;
  position: absolute;
  box-shadow: 0 63px 125px -25px rgba(50, 50, 73, 0.5),
  0 38px 75px -38px rgba(0, 0, 0, 0.6);
} */

.slideContainer{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  overflow: hidden;
}

.slideDescription{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.slideDescription > * {
  padding-right: 20px;
  padding-left: 20px;
}

.image {
  margin: auto;
  min-width: 50vw;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.qrContainer{
  text-align: right;
  width: 100%;
}

.qr {
  width: 150px;
  height: 150px;
}

.title {
  text-align: center;
  font-size: var(--kiosk-title-font-size);
}

.subTitle {
  margin: 0;
  font-size: var(--kiosk-subtitle-font-size);
}

.descriptionTxt{
  white-space: pre-wrap;
  font-size: var(--kiosk-facts-font-size);
  overflow: hidden;
}

@media all and (orientation:portrait) {
  .slideContainer{
    flex-direction: column;
    justify-content: space-evenly;
  }
}
